@using Microsoft.AspNetCore.Identity
@inject SignInManager<EventiaUser> _signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/CSS/base.css" asp-append-version="true" />
    <title>Events</title>
</head>
<body>
<header>
    <nav>
        <h3>Eventia</h3>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Home</a>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Events">Events</a>
        @if (_signInManager.IsSignedIn(User) && User.IsInRole("UserAttendee") || User.IsInRole("UserAdmin"))
        {
            <a class="btn btn-secondary" asp-controller="Home" asp-action="MyEvents">MyEvents</a>
        }
        @if (_signInManager.IsSignedIn(User) && User.IsInRole("UserOrganizer") || User.IsInRole("UserAdmin"))
        {
            <a class="btn btn-secondary" asp-controller="Organizer" asp-action="AddEvent">AddEvent</a>
        }
    </nav>
</header>
@RenderBody()
<footer>
    <div class="fotterNav">
        <partial name="_LoginPartial"/>
    </div>
    <div class="fotterLinks">
        <a class="fotterLink" href="#">Created By Joakim</a>
        <a class="fotterLink" href="https://github.com/JoakimIengstrom" target="_blank">Git</a>
        <a class="fotterLink" href="https://www.linkedin.com/in/joakim-engstr%C3%B6m-19997261/"
           target="_blank">Linked</a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>