@page
@model EventiaWebapp.Areas.Identity.Pages.Account.Manage.OrganizerRequestModel
@{
}

<div>If you wish to be an organizer, press the button.</div>

<form method="post">
    <button class="btn btn-secondary">Tryck</button>
</form>