@using Microsoft.AspNetCore.Identity
@model EventiaWebapp.Models.EventPartTwo
@inject SignInManager<EventiaUser> _signInManager

<div>
    <form method="post" asp-controller="Organizer" asp-action="CreateEvent">
        <p>Event Name: </p>
        <input asp-for="Title"/>

        <p>Description: </p>
        <input asp-for="Description"/>

        <p>Location: </p>
        <input asp-for="Place"/>

        <p>Adress: </p>
        <input asp-for="Adress"/>

        <p>Date: </p>
        <input asp-for="Date"/>
        
        <p>Numper of Tickets: </p>
        <input asp-for="Spots_Available"/>
        
        <p>Read and then press to submit</p>
        <input class="btn btn-secondary" type="submit"/>
    </form>
</div>