html {
    width: 80%;
    margin: auto;
}

body {
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    
}

nav {
    padding: 10px;
    background-color: lightgreen;
}

footer {
    background-color: lightgreen;
    padding: 10px;
}