html {
    width: 80%;
    margin: auto;
    background-color: beige;
    border-radius: 30px;
    background-image: url("../Img/background.jpg");
}

.welcomeImg {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 15px;
}

body {
    margin-top: 30px;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: black 2px 2px;
}

nav {
    padding: 10px;
    background-color: lightgreen;
    border: solid green 1px;
    border-radius: 10px;
    box-shadow: green 2px 2px;
}

footer {
    background-color: lightgreen;
    border: solid green 1px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: green 2px 2px;
}

.fotterLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
}

.fotterLink {
    margin-top: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: darkblue;
    font-weight: bolder;
}

button.accordion-button:focus {
    box-shadow: none;
    background-color: lightgrey;
    color: black;
    border: solid 1px grey;
    box-shadow: black 2px 2px;
}

button.accordion-button {
    background-color: white;
    color: black;
    margin: 8px 0px 10px 0px;
    border: solid 1px grey;
    box-shadow: black 2px 2px;
}

button.accordion-button:hover {
    background-color: darkgray;
}

.accordion-button:not(.collapsed) {
    background-color: grey;
    color: black;
}

.btn-secondary {
    background-color: beige;
    color: black;
    border: solid 1px grey;
    box-shadow: black 2px 2px;
}

.btn-secondary:hover {
    color: black;
    background-color: bisque;
}

.accordion-item:nth-child(n) .accordion-button {
    border-radius: 10px;
}

button.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

button.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.myEventUser {
    margin-top: 10px;
}

.loginForm {
    border-radius: 10px;
    border: solid 1px grey;
    box-shadow: black 2px 2px;
    padding-top: 10px;
    min-width: 100%;
    padding-bottom: 15px;
}

.loginContainer {
    padding: 15px;
    
}

.formLinks {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.formLinks:hover {
    color: red;
    font-weight: bold
}

.addEventFrom {
    margin-bottom: 15px;
}

.organizerApplication {
    font-weight: bolder;
    border: solid grey 1px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
}

