@model Event

@{
    var ev = @Model;
}

<div>
    <h2>@ev.Title</h2>
    <p>@ev.Description</p>
    <a class="btn btn-secondary" asp-controller="Events" asp-action="ConfirmBooking" asp-route-eventId="@ev.EventId">Confirm</a>
    <p></p>
</div>